# -------------------------
# OS
# -------------------------
.DS_Store

# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
.env

# -------------------------
# Node / Angular
# -------------------------
node_modules/
dist/
.angular/
coverage/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Misc
# -------------------------
*.swp